<html>
	<p>
		文本：{{ .tokens }}
	</p>
	<p>
		头实体：{{ .head }}
	</p>
	<p>
		尾实体：{{ .tail  }}
	</p>
	<p>
		关系：{{ .realtion }}
	</p>
	<button type="button">通过</button>
	<button type="button">不通过</button>
</html>